.wrapper {
    padding: 100px 0;
    background-color: #F1F2F4;
}
.bx {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    position: relative;
}
.bx:hover {
    background-color: #ffffff;
}
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    margin-bottom: 24px;
}
.icon img {
    max-width: 100%;
    transition: 0.3s ease-in-out;
}
.bx:hover .icon {
    background-color: var(--main-color);
}
.bx:hover .icon img {
    filter: brightness(0) invert(1);
}
.heading {
    font-weight: 500;
    color: #18191C;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 18px !important;
    line-height: 28px !important;
}
.text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #767F8C;
    width: 100%;
    text-align: center;
}
.arrw, .arrw2 {
    position: absolute;
    top: 0;
    right: -124px;
    z-index: 2;
}
.arrw2 {
    top: 58px;
}
.arrw img, .arrw2 img {
    max-width: 100%;
}
@media only screen and (max-width: 1399px) {
    .arrw, .arrw2 {
        width: 200px;
        right: -115px;
    }
    .text {
        font-size: 11px;
        line-height: 19px;
    }
}
@media only screen and (max-width: 1199px) {
    .arrw, .arrw2 {
        width: 165px;
        right: -97px;
    }
    .text {
        font-size: 11px;
        line-height: 19px;
    }
    .bx {
        min-height: 241px;
    }
    .arrw2 {
        top: 77px;
    }
}
@media only screen and (max-width: 991px) {
    .sArr {
        transform: rotate(90deg) rotateX(180deg);
        bottom: 0;
        top: inherit;
    }
    .tArr {
        transform: rotate(180deg) rotateX(180deg);
        left: -92px;
        right: inherit;
    }
}
@media only screen and (max-width: 767px) {
    .arrw, .arrw2 {
        display: none;
    }
}
