:root {
    --main-color: #0A65CC;
    --dark-color: #18191C;
}
body {
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #5E6670 !important;
    background-color: #ffffff !important;
}
input, button {
    font-family: "Inter", sans-serif !important;
}
.page-heading {
    font-size: 40px;
    line-height: 48px;
    color: #18191C;
    font-weight: 500;
    margin-bottom: 50px;
}
.text-center {
    text-align: center;
}
.modal-title {
    color: #18191C !important;
}
@media only screen and (max-width: 991px) {
    body {
        font-size: 15px !important;
        line-height: 25px !important;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        max-width: 100% !important;
    }
    .page-heading {
        font-size: 35px;
        line-height: 43px;
    }
}
@media only screen and (max-width: 475px) {
    .page-heading {
        font-size: 29px;
        line-height: 33px;
    }
}
