:root {
    --main-color: #0A65CC;
    --dark-color: #18191C;
}
body {
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #5E6670 !important;
    background-color: #ffffff !important;
    scroll-behavior: smooth;
}
input, button {
    font-family: "Inter", sans-serif !important;
}
.page-heading {
    font-size: 40px;
    line-height: 48px;
    color: #18191C;
    font-weight: 500;
    margin-bottom: 50px;
}
.text-center {
    text-align: center;
}
.modal-title {
    color: #18191C !important;
}
.content h4, .content h1, .content h2, .content h3, .content h5, .content h6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 16px;
}
.content p, .content li {
    font-size: 16px;
    line-height: 24px;
    color: #5E6670;
    margin-bottom: 16px;
}
.panel-heading, .panel-sub-heading {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    color: #18191C;
}
.panel-sub-heading {
    margin-top: 15px;
    font-size: 15px;
}
.form-label {
    font-size: 13px;
    line-height: 13px;
    color: #18191C;
}
@media only screen and (max-width: 991px) {
    body {
        font-size: 15px !important;
        line-height: 25px !important;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        max-width: 100% !important;
    }
    .page-heading {
        font-size: 35px;
        line-height: 43px;
    }
}
@media only screen and (max-width: 475px) {
    .page-heading {
        font-size: 29px;
        line-height: 33px;
    }
}
